.Head{
    background-color: #005CB4;
    padding-left: 10%;
    padding-right: 10%;
}

.MenuBar{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,auto));
    align-items: center;
}

.MenuTool{
    color: white;
    font-size: 20px;
    align-items: center;
}

.Login{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40px,auto));
    align-items: center;
}
