@font-face {
    font-family: Roboto;
    src: url(../../../public/fonte/Roboto/Roboto-Regular.ttf);
}



.textos{
    font-family: Roboto;
    
}

.Blocos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px; 
}

.bl1{
    height: 650px;;
    max-height: 954px;
    min-height: 250px;
    width: 100%;
    background-image: url(/public/imagens/mascara.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    background-position-y: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2%;
    
}

.bl1-linha{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-end;
}

.texto-produtos{
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
    width: 70%;
    text-align:left;
    
}

.texto-produtos h2{
    font-size: 22px;
}

.texto-produtos p{
    font-size: 16px;
}

.Produtosbtn{
    background-color: #ACACB1;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
}


.ofertas{
    display: flex;
    flex-direction: column;
    height: auto;
}

.ofertas h2{
    font-size: 22px;
    margin-bottom: 20px;
}

.vitrineOfertas{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    
}

.produtosOfertas{
    background-color: #D9d9d9;
    width: 23%;
    padding-top: 23%;
}

@media(max-width:650px) {
    .Blocos{padding-left: 5%;padding-right: 5%;}
    .bl1{padding-bottom: 0;}
    .texto-produtos{height: 90px; width: 100%;}
    .texto-produtos p{font-size: 12px;}
    .texto-produtos h2{font-size: 16px;}
    .ofertas h2{font-size: 16px;}
    .Produtosbtn{font-size: 12px; height: 18px; width: 50%;}
    
    .bl1{height: auto;}
}