.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.entrada{
    display: flex;
    flex-direction: column;
    max-width: 720px;
    align-items: center;
    flex-grow: 1;
    
}

.cadastro{
    display: flex;
    flex-direction: column;
    max-width: 720px;
    align-items: center;
    flex-grow: 1;


}
