.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    
}

.entrada{
    display: flex;
    flex-direction: column;
    max-width: 720px;
    align-items: center;
    flex-grow: 1;
    
}

.cadastro{
    display: flex;
    flex-direction: column;
    max-width: 720px;
    align-items: center;
    flex-grow: 1;


}

.mobilebtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    border: 0;
    background-color: white;
}

#EntradaID2{
    display: none;
}

#CadastroID2{
    display: flex;
}

#Desktop{
    display: flex;
}
#Mobile{
    display: none;
}


@media(max-width: 770px){
    #EntradaID2{display: none;}
    #CadastroID2{display: flex;}
    #Desktop{display: none;}
    #Mobile{display: flex;}
}


